--
-- PostgreSQL database dump
--

\restrict ORGPv4vgT5zcOShqUKI13giJEs1wyNk17JUFiiU3dAqtLv1mvZejKSFPk4GMe5s

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: articles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.articles (
    id_articles integer NOT NULL,
    titre character varying(500),
    introduction character varying(500),
    contenu text,
    image character varying(100),
    alt character varying(255),
    creation timestamp without time zone,
    id_categorie integer
);


ALTER TABLE public.articles OWNER TO postgres;

--
-- Name: articles_id_articles_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.articles_id_articles_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.articles_id_articles_seq OWNER TO postgres;

--
-- Name: articles_id_articles_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.articles_id_articles_seq OWNED BY public.articles.id_articles;


--
-- Name: categorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categorie (
    id_categorie integer NOT NULL,
    libelle character varying(50)
);


ALTER TABLE public.categorie OWNER TO postgres;

--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categorie_id_categorie_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categorie_id_categorie_seq OWNER TO postgres;

--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categorie_id_categorie_seq OWNED BY public.categorie.id_categorie;


--
-- Name: journaliste; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.journaliste (
    id_journaliste integer NOT NULL,
    nom character varying(50),
    date_embauche date,
    actif boolean,
    image character varying(100)
);


ALTER TABLE public.journaliste OWNER TO postgres;

--
-- Name: journaliste_article; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.journaliste_article (
    id_articles integer NOT NULL,
    id_journaliste integer NOT NULL
);


ALTER TABLE public.journaliste_article OWNER TO postgres;

--
-- Name: journaliste_id_journaliste_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.journaliste_id_journaliste_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.journaliste_id_journaliste_seq OWNER TO postgres;

--
-- Name: journaliste_id_journaliste_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.journaliste_id_journaliste_seq OWNED BY public.journaliste.id_journaliste;


--
-- Name: utilisateur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilisateur (
    id_utilisateur integer NOT NULL,
    nom character varying(50),
    email character varying(50),
    mdp character varying(50)
);


ALTER TABLE public.utilisateur OWNER TO postgres;

--
-- Name: utilisateur_id_utilisateur_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.utilisateur_id_utilisateur_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.utilisateur_id_utilisateur_seq OWNER TO postgres;

--
-- Name: utilisateur_id_utilisateur_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.utilisateur_id_utilisateur_seq OWNED BY public.utilisateur.id_utilisateur;


--
-- Name: articles id_articles; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.articles ALTER COLUMN id_articles SET DEFAULT nextval('public.articles_id_articles_seq'::regclass);


--
-- Name: categorie id_categorie; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorie ALTER COLUMN id_categorie SET DEFAULT nextval('public.categorie_id_categorie_seq'::regclass);


--
-- Name: journaliste id_journaliste; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journaliste ALTER COLUMN id_journaliste SET DEFAULT nextval('public.journaliste_id_journaliste_seq'::regclass);


--
-- Name: utilisateur id_utilisateur; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur ALTER COLUMN id_utilisateur SET DEFAULT nextval('public.utilisateur_id_utilisateur_seq'::regclass);


--
-- Data for Name: articles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categorie; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categorie (id_categorie, libelle) FROM stdin;
1	G├®opolitique
2	Conflit Militaire
3	Diplomatie
4	Soci├®t├® & Droits
5	Breaking
6	Humanitaire
7	├ëconomie
8	Soci├®t├®
9	Analyse
10	Chronologie
11	Reportage
\.


--
-- Data for Name: journaliste; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: journaliste_article; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.journaliste_article (id_articles, id_journaliste) FROM stdin;
1	1
2	1
3	6
4	1
5	2
6	3
7	4
8	2
9	5
10	1
11	3
\.


--
-- Data for Name: utilisateur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.utilisateur (id_utilisateur, nom, email, mdp) FROM stdin;
1	Admin	admin@gmail.com	admin123
\.


--
-- Name: articles_id_articles_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.articles_id_articles_seq', 11, true);


--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categorie_id_categorie_seq', 11, true);


--
-- Name: journaliste_id_journaliste_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.journaliste_id_journaliste_seq', 6, true);


--
-- Name: utilisateur_id_utilisateur_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utilisateur_id_utilisateur_seq', 1, true);


--
-- Name: articles articles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_pkey PRIMARY KEY (id_articles);


--
-- Name: categorie categorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorie
    ADD CONSTRAINT categorie_pkey PRIMARY KEY (id_categorie);


--
-- Name: journaliste_article journaliste_article_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journaliste_article
    ADD CONSTRAINT journaliste_article_pkey PRIMARY KEY (id_articles, id_journaliste);


--
-- Name: journaliste journaliste_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journaliste
    ADD CONSTRAINT journaliste_pkey PRIMARY KEY (id_journaliste);


--
-- Name: utilisateur utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_pkey PRIMARY KEY (id_utilisateur);


--
-- Name: articles articles_id_categorie_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_id_categorie_fkey FOREIGN KEY (id_categorie) REFERENCES public.categorie(id_categorie);


--
-- Name: journaliste_article journaliste_article_id_articles_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journaliste_article
    ADD CONSTRAINT journaliste_article_id_articles_fkey FOREIGN KEY (id_articles) REFERENCES public.articles(id_articles);


--
-- Name: journaliste_article journaliste_article_id_journaliste_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.journaliste_article
    ADD CONSTRAINT journaliste_article_id_journaliste_fkey FOREIGN KEY (id_journaliste) REFERENCES public.journaliste(id_journaliste);


--
-- PostgreSQL database dump complete
--

\unrestrict ORGPv4vgT5zcOShqUKI13giJEs1wyNk17JUFiiU3dAqtLv1mvZejKSFPk4GMe5s

